<div class="w-full bg-basic flex flex-col min-h-screen justify-start items-center">
  <div class="w-full sm:w-1/2 bg-basic-component rounded-xl mt-12 py-5 min-h-96 flex flex-col gap-2 items-center">
    <h1 class="text-2xl text-white text-center font-bold">Welcome to the Admin page</h1>
    <hr class="bg-white w-3/4 sm:w-1/2 mb-5"/>
    <div class="flex flex-col gap-2 items-center text-base">
      <button class="bg-basic-btn w-fit px-5 py-2 rounded-xl hover:bg-basic-dark duration-500">View Authors</button>
      <button class="bg-basic-btn w-fit px-5 py-2 rounded-xl hover:bg-basic-dark duration-500">View Books</button>
      <button class="bg-basic-btn w-fit px-5 py-2 rounded-xl hover:bg-basic-dark duration-500">View Statistics</button>
    </div>
  </div>
  <admin-app-authors class="container"></admin-app-authors>
</div>
